*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    cursor: default;
}

body{
    background-color: #1f1f1f;
    /* background: url("../assets/images/bg-2.jpg"); */
}

.first-container{
    /* border-style: solid; */
    display: flex;
    border-color: white;
    padding-top: 50px;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.first-img-box{
    /*  */
    width: 100%;
    /* width: 320px;
    height: 150px; */
    border-color: white;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 450px;
    /* It was 350 */
}

.second-container{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    border-color: white;
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    color: black;
    /* border-radius: 40px; */
    background-color: #1f1f1f;
    /* background-color: black; */
    border-color: white;
    /*  */
    width: 90%;
    display: flex;
    letter-spacing: -2px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* padding-top: 150px; */
}

.reg-head-container{
    border-color: white;
    margin-top: -30px;
    width: 90%;
    /*  */
}

.rules-text-name{
    font-size: 60px;
    letter-spacing: -5px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    transition: all 0.3s;
}

.rules-text-voted{
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    transition: all 0.3s;
}

/* .rules-text:hover{
  transition: all 0.3s;
  transform: scale(1.10);
  color: rgba(220, 20, 60, 0.651);
  color: rgb(190, 11, 16);
  cursor: default;
  transform: scale(1.03);
  letter-spacing: -4px;
} */

.red{
    color: rgb(190, 11, 16);
    font-size: 65px;
}

.intro-form-container{
    border-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-color: white;
    width: 90%;
    /* border-style: solid; */
}

.reg-element{

    width: 200px;
    background-color: #2b2b2b;
    margin-top: 30px;
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-color: white;
    /*  */
}

.up-video{
    width: 600px;
    /* margin: 20px; */
}

.video-view{
    width: 100%;
}

.reg-element:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;
}


.reg-btn{
    /* color: white; */
    /* margin-top: 40px; */
    color: white;
    margin-top: 40px;
    height: 70px;
    letter-spacing: -1px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    /* background-color:  rgb(236, 72, 110); */
    /* background-color: rgba(220, 20, 60, 0.651); */
    background-color: rgb(190, 11, 16);
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: 0px;
    /* display: flex;
    align-items: center; */
}

.reg-btn:hover{
    transition: all 0.3s;
    transform: scale(1.10);
}